*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    margin: 4vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar{
    width: 25%;
    border: apx solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 92vh;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.data{
    width: 100%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
}
.fa-circle{
    color: orangered;
}
.searchbar{
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    height: 300px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-box-shadow: 1px 1px 6.5px 0px whitesmoke;
    box-shadow: 1px 1px 6.5px 0px rgb(255, 254, 254);
}
input{
    border: none;
    outline: none;
    background: none;
}
.glass:hover{
    color: orangered;
    cursor: pointer;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands{
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.fa-brands:hover{
    color: orangered;
}
.top{
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
.header{
    height: 100px;
    border-radius: 3px;
    background-color: #333;
  

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.header p{
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#root{
    width: 100%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/* .box{
    /* margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
 } */

.img-box{
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
width: 200px;
height: 500px;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

.header-btn{
    text-decoration: none !important;
    border-radius: 25px;
    padding: 7px 20px;
    
    margin-top: 15px;
    color: #000 !important;
    background: #626467;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
 }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body {
    margin: 4vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sidebar {
    width: 25%;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 300px;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: column; 
     justify-content: space-between;

    margin-bottom: auto;
}
.fa-circle {
    color: orangered;
}
.searchBar {
    width: 30%;
    background-color: #eee;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input {
    border: none;
    outline: none;
    background: none;
}
.glass:hover {
    color: orangered;
    cursor: pointer;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands {
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}
.fa-brands:hover {
    color: orangered;
}
.data {
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
}
.top {
    height: 60px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.p1{
    color: rgb(255, 245, 245);
}

.header {
    height: 200px;
    border-radius: 3px;
    background-color: #333;
    margin: 3vh 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header p {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}



#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
/* .box {
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    border-radius: 10px;
    padding: 15px;
} */
.img-box {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images {
    max-height: 90%;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
}
.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2 {
    font-size: 20px;
    color: orangered;
}
.watch {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.watch:hover {
    background-color: darkgreen;
}


  
::-webkit-scrollbar {
    display: none;
}

body{
    width: 100%;
    padding:0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 150px;
    -webkit-box-shadow: 2px 2px 13px 0px gray;
    box-shadow: 2px 2px 13px 0px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand-logo{
    width: 150px;
    /* border:4px solid red; */
}
.brand-logo img{
    width: 100%;
}
.navbar{
    width: 80%;
    /*border:2px solid #000;*/
}

title{
    color: #000;
}
.v78{
    border-radius: 5%;
}

p{
    color: rgb(255, 255, 255);
}

.top{
    color: #000;
}

.top-menu{
    width: 100%;
    /*border:5px solid green;*/
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto;
 
    
}
.haykakan{
    margin-left: 20px;
}
.menu-link{
    color:rgb(255, 252, 252);
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 6.5px 0px whitesmoke;
    box-shadow: 1px 1px 6.5px 0px rgb(255, 254, 254);
}

.menu-link:hover{
    color:rgb(255, 255, 255);
}
/*------- End Header -----*/

.slidershow{
   
    overflow: hidden;
    box-sizing: border-box;
    height: 70%;
    width: 70%;
    margin-top: 100px;
}


.middle{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-box-shadow: 2px 2px 13px 0px gray;
    box-shadow: 2px 2px 13px 0px gray;

}

.navigation{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
    display: flex;

}

.bar{
    width: 10px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
}
.bar:hover{
    background: #fff;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;

}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}


#r1:checked~.s1{
    margin-left: -20%;

}

#r2:checked~.s2{
    margin-left: -40%;
    
}

#r3:checked~.s3{
    margin-left: -60%;
    
}

#r4:checked~.s4{
    margin-left: -80%;
    
}



h1{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-style: italic;
    margin-left: 600px;
}



.container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

/* .box{
    width: 200px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0,.1);
    transition: 0.5s;
    margin: auto;
    background-color: darkcyan;
} */







.box{
    width: 200px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(56, 56, 56, 0.1);
    transition: 0.5s;
    margin: auto;

}


 .box img{

    width: 600px;
    border-radius: 5px;
}

.box:hover{
transform: scale(1.1);
z-index: 2;
}

.cont{
    display: flex;
}



.box .button{
    background:none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 260px 50px;
    box-sizing: border-box;
    text-align: center;
  align-items: center;
  transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}

.box:hover .button{
    transform: rotateY(0);
}


.box .button li{
    list-style: none;
   padding:15px 0;
    
}


.box .button li a{
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    background: #000;
    border-radius:50px;


}

.box .button li a:hover{
    background: darkgreen;
}

h6{
    color: #fff;
}

.v5{
    color: white;
    margin: auto;
}

footer{
    width: 100%;
    -webkit-box-shadow: 0px -1px 16px -1px #f5ecec;
    box-shadow: 0px -1px 16px -1px #efebeb;
}
.footer-row{
    width: 100%;
    /*border:2px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-col{
    width: 45%;
}

.footer-col p{
    font-family: 'Josefin Sans', sans-serif;
}

.social-icon-menu{
     display: flex;
    justify-content: space-between;
    list-style: none;
    width: max-content;
    margin-left: auto;
}

.social-menu-item{
    padding: 10px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .product_tittle{
      color: black;
      text-align: left;
      margin-top: 1px;
  }
  .silka{
      text-align: center;
      text-decoration: none;
      padding: 10px;
      color: white;
      background-color: black;
      margin: 10px;
      margin-left: 35%;
  }
  /* .main{

        width: 1000px;
        /* margin: auto; 
  }*/
    

  @keyframes animateGirl {
      0%{
          transform: translateX(100% + 100vw);
      }
      50%{
          transform: translateX(calc(-100% - 100vw));
      }
      0%{
          transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
      }
      0%{
          transform: translateX(calc(100% + 100vw)) rotateY(180deg);
      }
  }
  .main{
      width: 1200px;
      margin: auto;
  }
.cont1{
border: #000 solid;
width: 500px;
background-color: gray;


}



.dropbtn{
    color:rgb(255, 252, 252);
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
   
}


/* p{
    color: whitesmoke;
} */

.v78{
    border-radius: 10px;
}


.v13{
    border: solid black 2px;
    width:250px;
    margin: auto;

}

p{
    font-family: sans-serif;
    font-style: italic;
}

.yntaniq{
    display: flex;
}


* {
    box-sizing: border-box;
  }
  
  #myInput {
      
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 20%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
   
  }
  


  #myUL {
    list-style-type: none;
    padding: 0;
    /* margin: 0; */
 display: flex;

  }
  /* .porc{
    display: flex;
  } */
li{
    width: 200px;
}
.cnox{
    display: flex;
}
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
    
  }
  
  .search{
      width: 300px;
      border: solid white;
  }
  
  
.vip{
    margin-left: 400px;
}

  /* h1{
    margin: autos;
  } */


  
.container {  text-align: center;
}
#searchResults {  margin-top: 20px;
}